
.line{
    vertical-align: top;
    display: inline-block;
}

.line1{
    vertical-align: top;
    display: inline-block;
}




table{
    border: 1px;
    width: 600px;
    margin-left: 50px;
}



